NEXT_PUBLIC_SUPABASE_URL=https://cqbzjdxnqjmxyxzwofzn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_R7Nvkbzkw0EHqZj_wYxCbA_qd9xbeut
GEMINI_API_KEY=your-gemini-api-key
RESEND_API_KEY=
EMAIL_FROM=Teech <no-reply@your-domain.com>
NEXT_PUBLIC_SITE_URL=https://your-teech-site.com
